@import "tailwindcss";

@theme {

  --font-primary: "Josefin Sans";

  --color-primary: #3F5D50;     /* Dark Green (Hero BG) */
  --color-primary-dark: #2F463C;

  /* Accent / CTA */
  --color-accent: #F4C430;      /* Warm Yellow Button */
  --color-accent-dark: #D4A017;

  /* Backgrounds */
  --color-lightbg: #F7F7F5;     /* Section background */
  --color-normalbg: #FFFFFF;
  --color-darkbg: #1F2933;

  --color-text-primary: #1E1E1E;
  --color-text-secondary: #6B7280;
  --color-text-light: #FFFFFF;
  --color-border: #E5E7EB;

}
